body {
font-family: helvetica, arial, sans-serif;
}

#login {
text-align: center;
background: #e3e3e3 url(images/whiteGradient.png) no-repeat top left;
border:1px solid #CFCFCF;
min-height:330px;
_height: 330px;
width: 705px;
position:relative;
left: 50%;
margin-left: -352px;
top:30%;
padding-bottom:10px;
margin-top: -165px;
-moz-border-radius-bottomright: 30px;
-webkit-border-bottom-right-radius: 30px;
_height:100%; /* IE FIX */
}


#login form {
width:705px;
display:inline;
}

h2{
padding: 15px 0 15px 75px;
_padding-left: 38px;
margin-top: 25px;
font-size: 45px;
background: url(../images/h2BG3.png) no-repeat;
color: ##2F2F2F;
border-top: 1px solid #9F9F9F;
text-indent: -9999px;
width: 748px;
height: 103px;
position: relative;
left: -23px;
}

label {
font-size: 24px;
}


small {
font-size: 16px;
position: relative;
top: -4px;
}

h4 {
color: #5f5f5f;
font-size: 23px;
}



span.exit {
position: absolute;
top:0;
right:0;
background: #6361DF;
color:#292929;
font-size:10px;
line-height: 14px;
font-weight: bold;
padding: .3em;
cursor: pointer;
border-left: 1px dotted white;
border-bottom: 1px dotted white;
}



.form-control {
height:54px;
width:60%;
font-size: 18px;
 margin:0 auto;
 float:none;
}

.btn-default {
display:inline;
width:20%;
font-size: 24px;
margin-right:auto;
margin-left:auto;
}

input#submit {
display:inline;
width: 20%;
font-size: 24px;
margin-right:auto;
margin-left:auto;
}

.btn-block + .btn-block {
  margin-top: 0px;
}

.page-header {
left: 50%;
margin-top:5%;
}


hide {}
show {}
login	{}
/* BOOSTRAP DEMO LOGIN
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/

