body
{
	color:#FFF;
	/* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top left, #1F5E82 0%, #000000 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top left, #1F5E82 0%, #000000 100%);
	/* Opera */ 
	background-image: -o-linear-gradient(top left, #1F5E82 0%, #000000 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #1F5E82), color-stop(1, #000000));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top left, #1F5E82 0%, #000000 100%);
	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom right, #1F5E82 0%, #000000 100%);
	background-size: 100%;
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
    background-attachment: fixed;
	/* fix for full screen */
}

html
{
	height:100%;
}



.media-body
{
	color: #FFF;
}

.main
{
	min-width: 902px;
	width:90%;
}

a.btn:hover, a:hover
{
	color:#f97e13;	
	text-decoration: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover
{
	background-color: #eaeff1;
	color:#f97e13;
}

.row
{
margin-left: 0px;
margin-right: 0px;
}

.head-top
{
padding-top: 2px;
}

.head-left
{
padding-top: 8px;

}

.head-middle
{
}

.nav-tabs > li.active > a
{
	background-color:#eaeff1;
}

.nav > li > a
{
  position: relative;
  display: block;
  padding: 8px 15px;
  background-color: transparent;
}

.panel-heading
{
height:40px;
background-color:rgba(255,255,255,.7);
}

.panel-title a
{
color: #0099ff;
text-decoration: none;
}


.search-span
{
margin-top: 3px;
margin-bottom: 3px;
}

.panel-body, .panel-default
{
background-color:rgba(255,255,255,.7);
color: #000;
height: 80%;
}

.top-right
{
margin-left: 91%;
}

.panel-primary
{
blackground:#00A1E2;
}

.btn-primary
{
background-color: #0099ff;
}

.btn-upload
{
background-color: #0099ff;
color:#FFF;
font-size: 18px;
width:100%;
}
.btn-upload:hover
{
background-color: #0076c4;
color:#FFF;
}

.input-group-lg
{
margin-bottom: 10px;
}
textarea.input-large
{
margin-bottom: 10px;
}

.panel-upload
{
border-radius: 5px;
padding: 10px;
background-color: #DDD;
margin-left: 25%;
}

.row-fix
{
	width: 100%;
}

.fa, .fa-thumbs-up :hover
{
cursor: pointer;
}


/**********************************************************/
/* DOC VIEW */

.master {}
.current-comments{}

.now{}

blockquote
{
	width:90%;
	border-color: #333;
	border-width: 5px;
	margin-bottom: 10px; 
}

.dv-panel
{
	height:600px;
	padding: 0px;
	border-bottom: 1px solid transparent;
	border-radius: 3px;
	border-color: rgba(0,0,0,0.9);
	background-color: black;
	background-size:100%;
	background-repeat:no-repeat;
}

.dv-span, .dv-span :hover
{
cursor: pointer;
width: 100%;
height: 100%;
}

.dv-heading
{
	position: relative;
	z-index: 2;
	height: 60px;
	padding: 10px 15px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-color: rgba(0,0,0,0.9);
	background-color:rgba(0,0,0,0.9); 
}

.dv-body
{	
	z-index: 2;
	position: relative;
	margin-top: -180px;
	height: 180px;
	
	color:#fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-color: rgba(0,0,0,0.9);
	background-color:rgba(0,0,0,.9);
}

.dv-body-slider
{	
	z-index: 2;
	position: relative;
	margin-top: -30px;
	min-height: 10px;
	max-height: 10px;
	color:#fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-color: rgba(0,0,0,0.9);
	background-color:rgba(0,0,0,.9);
}


.dv-heading > h2
{
	display: inline;
	font-size: 1.7em;
	font-weight: 700;
	color: #FFF;
}
.dv-heading > cite
{
	color: #7C7C7C;
	font-size: .7em;
	z-index: 10;
}
.dv-title {}
.dv-breadcrumb {}
.dv-user
{
	display:inline;
}
.dv-breadcrumb > ol.breadcrumb
{
background-color: transparent;
padding: 0px;
}

.dv-r-col
{
	min-height: 140px;
	border-left-width: 4px;
	border-left-color: #999999;
	border-left-style: dotted;
}

.list-group-item
{
	background-color: transparent;
	border:none;
	padding:4px;
}

.fa-chevron-down
{
	z-index: 30;
	position: absolute;
	display: block;
	right:20px;
	bottom: 10px;
}

.fa-chevron-up
{
	z-index: 30;
	position: absolute;
	display: block;
	right:20px;
	bottom: 10px;
}


cite
{
	font-size: .7em;
}
iframe
{
	z-index:1;
	position:relative;
	top:-60px;
	display:inline-block;
	overflow: hidden;
	height:600px;
	width: 100%;
	border-width: 0px;
	border-radius: 3px;
	background-color: transparent;
	cursor:pointer;
}
.test{}

/**********************************************************/


/**********************************************************/
/* COMMENTS */

.comments
{
	margin: 5px;
	padding: 5px;
	background-color: transparent;
	color:#333;
	max-height: 500px;
	overflow-y: scroll;
}

.comments > .row > strong
{
	font-size: 1.2em;
	font-weight: 700;
}

.each
{
	padding: 5px;
}

.new-comment{}

/**********************************************************/


.footer
{
	margin-top: 5%;
}


/**********************************************************/
/* NAV SELECTORS */

.home{ }
.profile{ }
.workbook{ }
.upload{ }
.response{}
.browse{}
.docview{}
/**********************************************************/

/**********************************************************/
/* MEDIA RESIZE */

/* Large desktop */
@media (min-width: 1200px) {


}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.head-top
{
	height:120px;
}
.search
{
	width:400px;
}

.dv-r-col
{
	display: none;	
}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

.main
{
	width:400px;
}
.head-top
{
	height:120px;
	width:767px;
}

.search
{
	width:400px;
}

iframe
{
	width:100%;
}
.panel,.panel-default
{
	width:100%;
}

.dv-r-col
{
	display: none;	
}

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}




/**********************************************************/